In [1]:
import seaborn as sns

## Load Dataset
The Palmers Penguins dataset is included as a sample dataset in the Seaborn library, so we can load the dataset as a Pandas DataFrame by using the Seaborn `load_dataset()` function. 

Ref: https://seaborn.pydata.org/generated/seaborn.load_dataset.html

In [7]:
# Se Load the Palmer Penguins dataset
df = sns.load_dataset("penguins")

In [5]:
# Display the first five rows of the dataset
display(df.head())

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [9]:
type(df)

pandas.core.frame.DataFrame